.content {
    height: 60vh;
    }
    
    .text-content {
    position: absolute;
    bottom: 0;
    left: -10;
    }


    .purchase-link
    {
       position: fixed; 
       top: 26%; 
       right: 0; 
       transform: translateY(-50%);
       display: flex; 
       align-items: center; /* Vertically align the icon and text */
       text-decoration: none; /* Remove underline from the link */
       color: inherit; /* Inherit color */
       padding: 5px 10px; 
       transition: background-color 0.3s ease; /* Smooth transition on hover */
       z-index: 9999; 
       font-size: 12px; /* Smaller font size */
       background-color: white; 
   }
   
    .purchase-link:hover {
     
   }
   
   /* Icon Styling */
    .purchase-link
   .rbt-icon {
       display: inline-block; 
       margin-right: 5px; 
   }
   
   
    .purchase-link
    img {
       width: 24px; 
       height: 24px; 
       margin-right: 5px; 
       object-fit: cover; 
   }
   
   /* Text Styling */
    .purchase-link
   .rbt-purchase-text {
       font-size: 12px; 
       font-weight: bold; 
       color: white; 
       letter-spacing: 1px; 
   }
   
   /* Hover Effects */
    .purchase-link
   :hover .rbt-purchase-text {
       color: white; 
       text-decoration: none; /* Remove underline on hover */
   }




   /* Container for sticky cart link */

 
  
  
   .sticky-button {
    position: fixed;
    top: 20%;
    right: 0;
    transform: translateY(-50%);
    z-index: 1000; 

    }
    

   .sticky-button img {
    display: block;
    width: 100%; 
    height: auto; 
    background-color: transparent; /* Transparent background if needed */
}
    .sticky-button button {
    
    cursor: pointer;

    }
    

   


.spacer {
    height: 50px; /* Adjust the vertical space as needed */
    }



    toolbar-trigger-image {
        cursor: pointer;
        width: 40px; /* Adjust width */
        height: auto; /* Maintain aspect ratio */
    }
    
    .expanded-toolbar {
        position: absolute;
        top: 0;
        right: 50px; /* Position the toolbar to the right of the trigger image */
        background-color: #ffffff;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        padding: 16px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        min-width: 150px;
    }
    
    .expanded-toolbar button {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 8px 12px;
        margin-bottom: 8px;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
        text-align: left;
    }
    
    .expanded-toolbar button:hover {
        background-color: #0056b3;
    }